body {
  font-style: Arial;
  background: black;
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 2.2rem;
  position: absolute;
  top: 2.0rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 6s;
  animation-duration: 20s;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 20s;
  animation-duration: 10s;
  color: #a3ddf0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 2.0rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #f0a3be;
  animation-name: fadeInOut;
  animation-delay: 25s;
  animation-duration: 20s;
}

.fifth-text {
  font-size: 2rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #f0eba3;
  animation-name: bottomFadeOut;
  animation-delay: 35s;
  animation-duration: 30s;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 35%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}